In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
import pandas as pd
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [7]:
import pandas as pd
data = {'Name': ['Alice','Bob','Clarie'],
        'Age': ['25','30','27'],
       'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

DataFrame:
     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Clarie  27  Female

In [3]:
#In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). 
#It is one of the primary data structures used for data manipulation and analysis in Pandas. 
#Think of it as a spreadsheet or SQL table where you can store and work with structured data.

import pandas as pd

# Creating a Series
series_data = pd.Series([1, 2, 3, 4, 5], name='Example_Series')
print("Series:")
print(series_data)

# Creating a DataFrame
data = {'Column1': [1, 2, 3, 4, 5],
        'Column2': ['A', 'B', 'C', 'D', 'E']}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
Name: Example_Series, dtype: int64

DataFrame:
   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D
4        5       E

5=Pandas provides a wide range of functions and methods for manipulating data in a DataFrame. Here are some common functions and methods used to manipulate data in a Pandas DataFrame along with examples of when you might use them:

Filtering Data:
df[df['column_name'] > value]: Filter rows based on a condition.

Selecting Columns:
df['column_name']: Select a single column as a Series.
df[['col1', 'col2']]: Select multiple columns as a DataFrame.

Sorting Data:
df.sort_values('column_name'): Sort the DataFrame by a specific column.

Grouping and Aggregation:
df.groupby('column_name').agg({'agg_column': 'agg_function'}): Group data by a column and apply an aggregation function.


Merging and Joining DataFrames:
pd.merge(df1, df2, on='key_column'): Merge two DataFrames based on a common column.


Pivoting Data:
df.pivot(index='index_column', columns='columns_column', values='values_column'): Reshape data by pivoting it.

Handling Missing Data:
df.dropna(): Remove rows with missing values.
df.fillna(value): Fill missing values with a specified value.

df_filled = df.fillna(df.mean())

Creating New Columns:
df['new_column'] = value: Add a new column to the DataFrame.

Applying Functions to Columns:
df['new_column'] = df['existing_column'].apply(function): Apply a custom function to a column.

In [8]:
#In pandas series are mutable , while dataframe and panel are immutable

In [9]:
import pandas as pd

# Create multiple Series
series1 = pd.Series([1, 2, 3], name='Column1')
series2 = pd.Series(['A', 'B', 'C'], name='Column2')
series3 = pd.Series([10.5, 20.3, 30.1], name='Column3')

# Combine the Series into a DataFrame
df = pd.DataFrame({'Column1': series1, 'Column2': series2, 'Column3': series3})

# Print the DataFrame
print(df)

   Column1 Column2  Column3
0        1       A     10.5
1        2       B     20.3
2        3       C     30.1